:host {
  display: block;
  width: 100%;
  background: #ccc;
  padding-top: .25em;
  padding-bottom: .5em;
}

:host input {
  font-family: "FiraSans", sans-serif;
  width: 100%;
  height: 100%;
  line-height: 1.9em;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: inset 1px 0px 1px #000, inset -1px 0px 1px #000;
}